.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#Canvas {
    display: flex;
    background-color: lightcyan;
}

.Control {
    display: flex;
    flex: 1;
    height: 600px;
    background-color: lightyellow;
}

.IterationLogContainer {
    display: flex;
    border-color: black;
    width: 100%;
}